<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Login"
        tools:targetApi="31">
        <activity
            android:name=".activity.p33"
            android:exported="false" />
        <activity
            android:name=".activity.p22"
            android:exported="false" />
        <activity
            android:name=".activity.p11"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!-- Add your activities here -->
        <activity
            android:name=".activity.homeScreen"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".activity.Imageswipe"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_10"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_9"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_8"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_7"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_6"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_5"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_4"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_3"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_2"
            android:exported="false" />
        <activity
            android:name=".classes.Ques_1"
            android:exported="false" />
        <activity
            android:name=".activity.quiz"
            android:exported="false" />
        <activity
            android:name=".activity.upload"
            android:exported="false" />
        <activity
            android:name=".activity.sign_up"
            android:exported="false" />
        <activity
            android:name=".activity.sign_in"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>